<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spanish</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="app" class="container text-center">
        <div class="row">
            <div class="col">
                <select name="selectSpanish" class="form-select" v-model="selectedSpanishIndex">
                    <option :value="-1">--select spanish--</option>
                    <option v-for="(x, index) in spanishList" :key="index" :value="index">{{ x.lang }} - {{ x.name }}</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <select name="selectWords" class="form-select" v-model="selectedWordsListName">
                    <option value="">--select words--</option>
                    <option v-for="(value, key) in allWords" :value="key">{{ key }}</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="cbShowAnswer" v-model="showAnswer">
                    <label class="form-check-label" for="cbShowAnswer">
                        answer
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="float-end">
                    <button type="button" class="btn btn-primary" @click="getNext">next</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-1">
                            <div v-if="wordAndAnswer[0] && showReading" class="spinner-border text-success" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div class="col">
                            <div @click="readInSpanish" class="fs-1">
                                {{ wordAndAnswer[0]}}
                            </div>
                        </div>
                    </div>
                    <div class="row" v-if="showAnswer">
                        <div class="col-1"></div>
                        <div class="col">
                            <div class="fs-1">{{ wordAndAnswer[1] }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/vue.js"></script>
    <script src="./js/data.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                // 所有西班牙语
                spanishList: [],
                // 选择一种西班牙语方言
                selectedSpanishIndex: -1,
                // 所有单词
                allWords: MyData,
                // 选择背诵哪个单词集合
                selectedWordsListName: '',
                // 是否显示答案
                showAnswer: false,
                // 本次显示的单词和答案
                wordAndAnswer: ['', ''],
                // 显示朗读中
                showReading: false
            },
            computed: {
                words() {
                    if (!this.selectedWordsListName) {
                        return []
                    }
                    return this.allWords[this.selectedWordsListName]
                }
            },
            created() {
                const getSpanishList = () => {
                    this.spanishList = speechSynthesis.getVoices().filter(x=>x.lang.indexOf('es')>-1).toSorted((x,y) => x.lang.localeCompare(y.lang))
                }

                // safari
                getSpanishList()

                // chrome
                if(!this.spanishList.length){
                    speechSynthesis.onvoiceschanged = getSpanishList
                }
            },
            methods: {
                getNext() {
                    if (!this.selectedWordsListName) {
                        alert('请先选择要背的单词')
                        return
                    }
                    this.wordAndAnswer = this.words[Math.floor(Math.random() * this.words.length)]
                },
                readInSpanish() {
                    this.showReading = true
                    const message = new SpeechSynthesisUtterance(this.wordAndAnswer[0])
                    message.lang = this.spanishList[this.selectedSpanishIndex].lang
                    message.voice = this.spanishList[this.selectedSpanishIndex]
                    speechSynthesis.speak(message)
                    setTimeout(() => {
                        this.showReading = false
                    }, 1000)
                }
            }
        })
    </script>
</body>
</html>